/* This allows us to have consistent font (size, family, weight), line height with a consistent background image. */

/* scroll allows end user to scroll through our website */
html,
body {
  height: 100%;
  font-size: 18px;
  line-height: 1.6;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  background: url("https://images.unsplash.com/photo-1599551528722-6b6d968512a2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80")
    no-repeat center fixed;
  background-size: cover;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}

/* Title information and first container */
#title {
  text-align: center;
  width: 100%;
  height: 100%;
}

/* Destination, Location, List and see list container */
#outter_container {
  align-items: center;
  width: 100vw;
  height: auto;
  padding-bottom: 3rem;
}

.half_block_2 {
  position: absolute;
  margin-left: 32%;
  width: 25vw;
}

.top_card {
  z-index: 100;
}

.relative_position {
  position: relative;
  /* height: 50vh;
  margin: 0 0 0 3rem; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#cards_container {
  color: rgb(233, 139, 16);
  height: 50vh;
  text-align: center;
  margin-bottom: 3rem;
}

#third_container {
  color: rgb(233, 139, 16);
  text-align: center;
}

.display_createCards_list {
  font-size: 20px;
  font-weight: 700 !important;
  color: rgb(233, 139, 16);
  background-color: rgb(97, 109, 46);
  border-color: #ffffff;
  list-style-type: none;
  border-radius: 5px;
  padding: 1rem;
  margin: 0 0 1rem 1rem;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.42857143;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  letter-spacing: 2px;
  border: 2px solid #666;
  font-family: "brandon_grotesqueblack";
  font-weight: normal;
}

.btn_light {
  color: rgb(233, 139, 16);
  background-color: rgb(97, 109, 46);
  border-color: #ffffff;
}

.btn_bright {
  color: rgb(17, 11, 2);
  background-color: rgb(233, 139, 16);
  border-color: rgb(233, 139, 16);
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

form {
  display: flex;
  flex-direction: column;
}

#footer {
  color: #fff;
  text-align: center;
  font-size: 10px;
  letter-spacing: 3px;
  font-family: "brandon_grotesquebold";
  font-weight: normal;
  display: block;
}

.footbackground {
  background-color: teal;
}
