/* This allows us to have consistent font (size, family, weight), line height with a consistent background image. */

/* scroll allows end user to scroll through our website */
html,
body {
  height: 100%;
  font-size: 18px;
  line-height: 1.6;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  background: url("https://images.unsplash.com/photo-1599551528722-6b6d968512a2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80")
    no-repeat center fixed;
  background-size: cover;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  color: #E94E10;
}

/* Title information and first container */
#title {
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: bolder;
  font-style: oblique;
}

/* Destination, Location, List and see list container */
#outter_container {
  align-items: center;
  width: 100vw;
  height: auto;
  padding-bottom: 1rem;
}

.half_block_2 {
  position: absolute;
}

.top_card {
  z-index: 100;
  /* height: 50vh; */
  width: 50vw;
}

.relative_position {
  position: relative;
  /* height: 50vh;
  margin: 0 0 0 3rem; */
  /* top: 50%; */
  left: 25%;
  /* transform: translate(-50%, -50%); */
}

#cards_container {
  color: 	#E98B10;
  height: 100vh;
  text-align: center;
  margin-bottom: 3rem;
  align-items: center;
}

#third_container {
  color: #E98B10;
  text-align: center;
}

.display_createCards_list {
  font-size: 20px;
  font-weight: 700 !important;
  color: #FFFBF6;
  background-color: #0BA060;
  border-color: #FFFBF6;
  list-style-type: none;
  border-radius: 5px;
  padding: 1rem;
  margin: 0 0 1rem 1rem;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.42857143;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  letter-spacing: 2px;
  border: 2px solid #FFFBF6;
  font-family: "brandon_grotesqueblack";
  font-weight: normal;
}

.btn_light {
  color: #FFFBF6;
  background-color: rgb(97, 109, 46);
  border-color: #FFFBF6;
}

.btn_bright {
  color: #FFFBF6;
  background-color: #E98B10;
  border-color: #FFFBF6;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #FFFBF6;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

form {
  display: flex;
  flex-direction: column;
}

#footer {
  color: #FFFBF6;
  text-align: center;
  font-size: .75rem;
  letter-spacing: 3px;
  font-family: "brandon_grotesquebold";
  font-weight: normal;
  display: block;
}

.footbackground {
  background-color: #1D4232;
}
